@font-face {
    font-family: bebas;
    src: url(fonts/bebas.ttf);
}
.light-bg {
    background-image: url('../images/groovepaper.png');
}
.dark-bg {
    background-image: url('../images/pw_maze_black.png');
    color: #FFF;
}

.wide {
    width: 100%;
    height: 400px;
}

.client-image {
    max-width: 100px;
}

.client-list {
    list-style-type: none;
}

.horizontal-list-container {
    display: inline;
}

body {
    padding-top: 40px;
}

.hero {
    font-size: 100pt; 
    font-family: bebas;
}

.quoted:before {
   content: "\201C";
   font-weight: bold;
   font-size: 100px;
}

.large-icon {
    font-size: 100px;
}
.center-text {
    text-align: center;
}
